{{#user}}
{{#dataValues}}
<div class="container mt-5 col-5">
    <form action="/edit/{{id}}" method="POST">
        <div class="mb-3">
            <label for="" class="form-label">id</label>
            <input type="text" class="form-control" value="{{id}}" name="id" id="id" />
        </div>

        <div class="mb-3">
            <label for="" class="form-label">Nombre</label>
            <input type="text" class="form-control" value="{{name}}" name="name" id="name" />
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Apellidos</label>
            <input type="text" class="form-control" value="{{lastname}}" name="lastname" id="lastname" />
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Dirección</label>
            <input type="text" class="form-control" value="{{address}}" name="address" id="address" />
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Celular</label>
            <input type="number" class="form-control" value="{{phone}}" name="phone" id="phone" />
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Edad</label>
            <input type="number" class="form-control" value="{{age}}" name="age" id="age" />
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Fecha de Ingreso</label>
            <input type="date" class="form-control" value="{{hiring_date}}" name="hiring_date" id="hiring_date" />
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Fecha de despido</label>
            <input type="date" class="form-control" value="{{departure_date}}" name="departure_date" id="departure_date" />
        </div>
        <button type="submit" class="btn btn-success">Editar</button>
    </form>
</div>
{{/dataValues}}
{{/user}}