<div class="p-5 bg-light">
    <div class="container">
        <h1 class="display-3">Bienvenido a ABM Rappi</h1>
        <p class="lead">Lista de Usuarios</p>
        <hr class="my-2">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellidos</th>
                    <th scope="col">Dirección</th>
                    <th scope="col">Telefono</th>
                    <th scope="col">Edad</th>
                    <th scope="col">Fecha Entrada</th>
                    <th scope="col">Fecha Salida</th>
                </tr>
            </thead>
            <tbody>
                {{#each users}}
                {{#dataValues}}
                <tr>
                    <th scope="row">{{id}}</th>
                    <td>{{name}}</td>
                    <td>{{lastname}}</td>
                    <td>{{address}}</td>
                    <td>{{phone}}</td>
                    <td>{{age}}</td>
                    <td>{{hiring_date}}</td>
                    <td>{{departure_date}}</td>
                    <td>
                        <a href="/delete/{{id}}" class="btn btn-danger">Del</a>
                    </td>
                    <td>
                        <a href="/edit/{{id}}" class="btn btn-primary">Edit</a>
                    </td>
                </tr>
                {{/dataValues}}
                {{/each}}
            </tbody>
        </table>
    </div>
</div>